---
layout: default
---

<div class="col-md-12 col-sm-12 pt-4 pb-4">
  <div class="bg-body-tertiary p-5 rounded">
    <h1>{{site.title}}</h1>
    <p class="lead">{{site.description}}</p>
    <a class="btn btn-lg btn-primary" href="#" role="button" data-bs-target="#signupForm" data-bs-toggle="modal">Gabung &raquo;</a>
  </div>
</div>
{% include jackpot.html %}
{% include togel.html %}
{% include gamepopuler.html %}
{% include gameterbaru.html %}
{% include suporter.html %}
{% include fiturfooter.html %}
{% include provider.html %}