<div class="col-md-12 col-sm-12 text-center pt-4 pb-4">
    <fieldset class="type-container">
        <legend>
            <h2>Game Slot Terpopuler</h2>
        </legend>
        <div class="row" style="justify-content: center;">
{% for item in site.data.slot_populer %}
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item">
				<a href="{{item.url}}" target="blank">
					<img data-sizes="auto" data-src="{{item.img}}" src="{{item.img}}" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Sweet+Bonanza&amp;font=Noto%20Sans'"
                        class="shadow gamertpimg lazyautosizes lazyloaded" alt="{{item.title}}" sizes="202px">
                    <div class="progress text-center gamertpimgtitle">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{item.color}}" role="progressbar" aria-valuenow="{{item.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.progress}}%" aria-label="progresbar-{{item.progress}}">{{item.progress}}%</div>
                    </div>
                    <p class="mt-2 d-none d-sm-block">{{item.title}}</p>
				</a>
                </div>
            </div>
{% endfor %}
        </div>
    </fieldset>
</div>