<div class="col-md-12 col-sm-12 text-center pt-4 pb-4">
    <fieldset class="type-container">
        <legend>
            <h3>Game Slot Terbaru</h3>
        </legend>
        <div class="row" style="justify-content: center;">
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs10bxmasbnza.png" src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs10bxmasbnza.png" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Christmas+Big+Bass+Bonanza&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes ls-is-cached lazyloaded" alt="Christmas Big Bass Bonanza" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Christmas Big Bass Bonanza</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs10nudgeit.png" src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs10nudgeit.png" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Rise+of+Giza+PowerNudge&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes ls-is-cached lazyloaded" alt="Rise of Giza PowerNudge" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Rise of Giza PowerNudge</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs25rio.png" src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs25rio.png" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Heart+of+Rio&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes ls-is-cached lazyloaded" alt="Heart of Rio" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Heart of Rio</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs1024lionsd.png" src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs1024lionsd.png" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=5+Lions+Dance&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes ls-is-cached lazyloaded" alt="5 Lions Dance" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">5 Lions Dance</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs20eightdragons.png" src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs20eightdragons.png" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Eight+Dragons&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes ls-is-cached lazyloaded" alt="Eight Dragons" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Eight Dragons</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs5drmystery.png" src="https://worldslot.kincai77.fun/upload/game_pic/pragmaticplay/vs5drmystery.png" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Dragon+Kingdom+Mystery&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes ls-is-cached lazyloaded" alt="Dragon Kingdom Mystery" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Dragon Kingdom Mystery</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/prosperity-lion.jpg" src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/prosperity-lion.jpg" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Prosperity+Lion&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes lazyloaded" alt="Prosperity Lion" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Prosperity Lion</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/mr-hallow-win.jpg" src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/mr-hallow-win.jpg" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Mr.+Hallow-Win&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes lazyloaded" alt="Mr. Hallow-Win" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Mr. Hallow-Win</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/legend-of-hou-yi.jpg" src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/legend-of-hou-yi.jpg" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Legend+of+Hou+Yi&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes lazyloaded" alt="Legend of Hou Yi" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Legend of Hou Yi</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/hip-hop-panda.jpg" src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/hip-hop-panda.jpg" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Hip+Hop+Panda&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes lazyloaded" alt="Hip Hop Panda" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Hip Hop Panda</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/dragon-legend.jpg" src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/dragon-legend.jpg" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Dragon+Legend&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes lazyloaded" alt="Dragon Legend" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Dragon Legend</p>
                </div>
            </div>
            <div class="col-sm-2 col-4 hoverimg text-center pt-0 p-2">
                <div class="game-item"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/hotpot.jpg" src="https://worldslot.kincai77.fun/upload/game_pic/pgsoft/hotpot.jpg" onerror="this.onerror=null; this.src='https://placehold.co/196x140/111111/ffffff/webp/?text=Hotpot&amp;font=Noto%20Sans'"
                        class="shadow gamenormalimg lazyautosizes lazyloaded" alt="Hotpot" sizes="202px">
                    <p class="mt-2 d-none d-sm-block">Hotpot</p>
                </div>
            </div>
            <div class="col-sm-12 col-12 text-center"> <a href="#" role="button" data-bs-target="#loginForm" data-bs-toggle="modal" class="btn btn-primary btn-sm"> <i class="fa fa-info-circle"></i> Update Lainnya </a> </div>
        </div>
    </fieldset>
</div>