
                <hr>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12 mb-3">
                        <h5 class="footer-section-title pb-2">Provider</h5>
                        <fieldset class="provider-container">
                            <legend>Slots</legend>
                            <ul class="hover-list" style="justify-content:center;place-content:center;">
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/pp.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/pp-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/playtech.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/playtech-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/joker.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/joker-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/pgsoft.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/pgsoft-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/cq9.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/cq9-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/habanero.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/habanero-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/microgaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/microgaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/playngo.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/playngo-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/rtg.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/rtg-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/spade-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/spade-gaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/slot88.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/slot88-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/yggdrasil.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/yggdrasil-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/live22.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/live22-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/ion-slot.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/ion-slot-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/jdb.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/jdb-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/advantplay.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/advantplay-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/amb-slot.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/amb-slot-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/playstar.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/playstar-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/ttg.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/ttg-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/jili.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/jili-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/funky-games.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/funky-games-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/reel-kingdom.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/reel-kingdom-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/fachai.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/fachai-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/crowd-play.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/crowd-play-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/bigpot.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/bigpot-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/vpower.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/vpower-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/fun-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/fun-gaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/dragoonsoft.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/dragoonsoft-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/mario-club.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/mario-club-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/naga-games.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/naga-games-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/worldmatch.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/worldmatch-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/spinix.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/spinix-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/skywind.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/skywind-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/no-limit-city.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/no-limit-city-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/red-tiger.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/red-tiger-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/netent.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/netent-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/big-time-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/big-time-gaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/only-play.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/only-play-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/hacksaw.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Slots" src="upload/game_provider/hacksaw-active.png" /></picture>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset class="provider-container">
                            <legend>Casino</legend>
                            <ul class="hover-list" style="justify-content:center;place-content:center;">
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/trg.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/trg-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/568win.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/568win-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/ag.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/ag-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/sexy-baccarat.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/sexy-baccarat-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/evo-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/evo-gaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/pretty-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/pretty-gaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/dream-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/dream-gaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/allbet.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/allbet-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/sv388.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/sv388-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/mg-live.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/mg-live-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/sa-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/sa-gaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/ebet.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/ebet-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/opus-live-casino.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Casino" src="upload/game_provider/opus-live-casino-active.png" /></picture>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset class="provider-container">
                            <legend>Togel</legend>
                            <ul class="hover-list" style="justify-content:center;place-content:center;">
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Togel" src="upload/game_provider/nex-4d.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Togel" src="upload/game_provider/nex-4d-active.png" /></picture>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset class="provider-container">
                            <legend>Poker</legend>
                            <ul class="hover-list" style="justify-content:center;place-content:center;">
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Poker" src="upload/game_provider/g8-poker.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Poker" src="upload/game_provider/g8-poker-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Poker" src="upload/game_provider/nine-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Poker" src="upload/game_provider/nine-gaming-active.png" /></picture>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset class="provider-container">
                            <legend>Olahraga</legend>
                            <ul class="hover-list" style="justify-content:center;place-content:center;">
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/sbo.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/sbo-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/ibc-sports.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/ibc-sports-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/pp.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/pp-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/pinnacle.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/pinnacle-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/wbet.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/wbet-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/opus.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/opus-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/cmd.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/cmd-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/im-sportsbook.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Olahraga" src="upload/game_provider/im-sportsbook-active.png" /></picture>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset class="provider-container">
                            <legend>E-Sports</legend>
                            <ul class="hover-list" style="justify-content:center;place-content:center;">
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="E-Sports" src="upload/game_provider/tf-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="E-Sports" src="upload/game_provider/tf-gaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="E-Sports" src="upload/game_provider/pinnacle-esports.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="E-Sports" src="upload/game_provider/pinnacle-esports-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="E-Sports" src="upload/game_provider/im-esports.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="E-Sports" src="upload/game_provider/im-esports-active.png" /></picture>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset class="provider-container">
                            <legend>Crash</legend>
                            <ul class="hover-list" style="justify-content:center;place-content:center;">
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/spribe.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/spribe-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/microgaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/microgaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/joker.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/joker-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/dragoonsoft.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/dragoonsoft-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/advantplay-mini-game.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/advantplay-mini-game-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/funky-games.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/funky-games-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/pp.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/pp-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/spinix.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/spinix-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/only-play.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Crash" src="upload/game_provider/only-play-active.png" /></picture>
                                </li>
                            </ul>
                        </fieldset>
                        <fieldset class="provider-container">
                            <legend>Arcade</legend>
                            <ul class="hover-list" style="justify-content:center;place-content:center;">
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/joker.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/joker-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/funky-games.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/funky-games-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/cq9.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/cq9-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/microgaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/microgaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/spade-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/spade-gaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/jdb.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/jdb-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/amb-slot.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/amb-slot-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/live22.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/live22-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/advantplay-mini-game.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/advantplay-mini-game-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/arcadia.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/arcadia-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/playstar.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/playstar-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/jili.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/jili-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/fachai.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/fachai-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/crowd-play.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/crowd-play-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/vpower.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/vpower-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/fun-gaming.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/fun-gaming-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/dragoonsoft.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/dragoonsoft-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/mario-club.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/mario-club-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/spribe.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/spribe-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/worldmatch.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/worldmatch-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/spinix.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/spinix-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/skywind.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/skywind-active.png" /></picture>
                                </li>
                                <li>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/g8tangkas.png" /></picture>
                                    <picture><img data-sizes="auto" class="lazyload" alt="Arcade" src="upload/game_provider/g8tangkas-active.png" /></picture>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
