<div class="col-md-12 col-sm-12 text-center pt-3 pb-3">
    <fieldset style="display: inline-block;">
        <legend class="d-block d-sm-none">
            <h4>Support by</h4>
        </legend>
        <legend class="d-none d-sm-block">
            <h4>Support by</h4>
        </legend>
        <div class="row" style="justify-content: center;">
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/pplay.webp" src="https://worldslot.kincai77.fun/assets/images/provider/pplay.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game Pragmatic" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/pg.webp" src="https://worldslot.kincai77.fun/assets/images/provider/pg.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game PG" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/bg.webp" src="https://worldslot.kincai77.fun/assets/images/provider/bg.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game BG" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/joker123.webp" src="https://worldslot.kincai77.fun/assets/images/provider/joker123.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game Joker123" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/spadegaming.webp" src="https://worldslot.kincai77.fun/assets/images/provider/spadegaming.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game Kincai77 Group" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/cq9.webp" src="https://worldslot.kincai77.fun/assets/images/provider/cq9.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game CQ9" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/jili.webp" src="https://worldslot.kincai77.fun/assets/images/provider/jili.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game Jili" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/dragoon.webp" src="https://worldslot.kincai77.fun/assets/images/provider/dragoon.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game Dragoon" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/icg.webp" src="https://worldslot.kincai77.fun/assets/images/provider/icg.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game ICG" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/fc.webp" src="https://worldslot.kincai77.fun/assets/images/provider/fc.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game FC" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/ka_slot.webp" src="https://worldslot.kincai77.fun/assets/images/provider/ka_slot.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game KA Slot" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/rich88.webp" src="https://worldslot.kincai77.fun/assets/images/provider/rich88.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game Rich88" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/platipus.webp" src="https://worldslot.kincai77.fun/assets/images/provider/platipus.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game Platipus" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/mega888.webp" src="https://worldslot.kincai77.fun/assets/images/provider/mega888.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game Mega888" sizes="97px"> </div>
            </div>
            <div class="col-sm-1 col-3 text-center pt-0 p-2">
                <div style="cursor: pointer;"> <img data-sizes="auto" data-src="https://worldslot.kincai77.fun/assets/images/provider/pussy88.webp" src="https://worldslot.kincai77.fun/assets/images/provider/pussy88.webp" class="shadow providernormalimg lazyautosizes ls-is-cached lazyloaded"
                        width="100px" height="140px" alt="Provider Game Pussy88" sizes="97px"> </div>
            </div>
        </div>
    </fieldset>
</div>