<div class="col-md-12 col-sm-12 text-center pt-4 pb-4">
    <fieldset class="type-container">
        <legend>
            <h2>Keluaran Togel Hari Ini</h2>
        </legend>
        <div class="row game">
            <div class="col">
                <div class="card bg-transparent togelheader">
                    <div class="card-body p-2 text-center"> CHIANGMAI
                        <div class="h1 text-success blink_me mt-2 mb-2"> 9010 </div>
                    </div>
                    <div class="card-footer p-2 text-center togeltitle"> 03 Juli </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent togelheader">
                    <div class="card-body p-2 text-center"> VIENTIANE
                        <div class="h1 text-success blink_me mt-2 mb-2"> 7309 </div>
                    </div>
                    <div class="card-footer p-2 text-center togeltitle"> 03 Juli </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent togelheader">
                    <div class="card-body p-2 text-center"> BRUSSEL
                        <div class="h1 text-success blink_me mt-2 mb-2"> 9451 </div>
                    </div>
                    <div class="card-footer p-2 text-center togeltitle"> 03 Juli </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent togelheader">
                    <div class="card-body p-2 text-center"> KINGKONGSORE
                        <div class="h1 text-success blink_me mt-2 mb-2"> 1124 </div>
                    </div>
                    <div class="card-footer p-2 text-center togeltitle"> 03 Juli </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent togelheader">
                    <div class="card-body p-2 text-center"> NEWYORKMID
                        <div class="h1 text-success blink_me mt-2 mb-2"> 9603 </div>
                    </div>
                    <div class="card-footer p-2 text-center togeltitle"> 04 Juli </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent togelheader">
                    <div class="card-body p-2 text-center"> BUSAN
                        <div class="h1 text-success blink_me mt-2 mb-2"> 9338 </div>
                    </div>
                    <div class="card-footer p-2 text-center togeltitle"> 03 Juli </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent togelheader">
                    <div class="card-body p-2 text-center"> KENTUCKYEVE
                        <div class="h1 text-success blink_me mt-2 mb-2"> 6081 </div>
                    </div>
                    <div class="card-footer p-2 text-center togeltitle"> 03 Juli </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent togelheader">
                    <div class="card-body p-2 text-center"> PHUKET
                        <div class="h1 text-success blink_me mt-2 mb-2"> 1899 </div>
                    </div>
                    <div class="card-footer p-2 text-center togeltitle"> 03 Juli </div>
                </div>
            </div>
            <div class="col-sm-12 col-12 text-center"> <a href="#" data-bs-target="#loginForm" data-bs-toggle="modal" class="btn btn-primary btn-sm"> <i class="fa fa-info-circle"></i> Market Lainnya </a> </div>
        </div>
    </fieldset>
</div>